<template>
    <div id="app">
        <div class="row app-row">
            <draggable v-model="images" @start="drag=true" @end="drag=false" class="row app-row">
                <div class="row image-box" v-for="(image, idx) in images" :key="idx">
                    <div class="image-screen" v-if="image.screen">
                        <div class="image-overlay">
                            <div class="image-replace" @click="replaceFile(idx)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px"
                                     viewBox="0 0 512.422 512.422"
                                     xml:space="preserve">
	                                <path d="M41.053,223.464c2.667,1.067,5.76,1.067,8.427-0.213l83.307-37.867c5.333-2.56,7.573-8.96,5.013-14.293c-2.453-5.12-8.533-7.467-13.76-5.12l-58.347,26.56c27.84-83.307,105.387-138.987,194.667-138.987c93.547,0,175.36,62.507,198.933,152c1.493,5.653,7.36,9.067,13.013,7.573c5.653-1.493,9.067-7.36,7.573-13.013c-26.027-98.773-116.267-167.893-219.52-167.893c-98.453,0-184.107,61.44-215.04,153.387l-24.533-61.333c-1.813-5.547-7.893-8.64-13.44-6.827c-5.547,1.813-8.64,7.893-6.827,13.44c0.107,0.427,0.32,0.853,0.533,1.28l34.027,85.333C36.146,220.158,38.279,222.398,41.053,223.464z"/>
                                    <path d="M511.773,380.904c-0.107-0.213-0.213-0.427-0.213-0.64l-34.027-85.333c-1.067-2.667-3.2-4.907-5.973-5.973c-2.667-1.067-5.76-0.96-8.427,0.213l-83.307,37.867c-5.44,2.24-8,8.533-5.76,13.973c2.24,5.44,8.533,8,13.973,5.76c0.213-0.107,0.427-0.213,0.64-0.32l58.347-26.56c-28.053,83.307-105.707,138.987-194.88,138.987c-93.547,0-175.36-62.507-198.933-152c-1.493-5.653-7.36-9.067-13.013-7.573c-5.653,1.493-9.067,7.36-7.573,13.013c25.92,98.88,116.267,167.893,219.52,167.893c98.453,0,184-61.44,215.04-153.387l24.533,61.333c2.027,5.547,8.107,8.427,13.653,6.4C510.919,392.531,513.799,386.451,511.773,380.904z"/>
                                </svg>
                            </div>
                            <div class="image-remove" @click="removeFile(idx)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 512 512"
                                     xml:space="preserve">
                                <path d="M425.298,51.358h-91.455V16.696c0-9.22-7.475-16.696-16.696-16.696H194.855c-9.22,0-16.696,7.475-16.696,16.696v34.662H86.704c-9.22,0-16.696,7.475-16.696,16.696v51.357c0,9.22,7.475,16.696,16.696,16.696h5.072l15.26,359.906c0.378,8.937,7.735,15.988,16.68,15.988h264.568c8.946,0,16.302-7.051,16.68-15.989l15.259-359.906h5.073c9.22,0,16.696-7.475,16.696-16.696V68.054C441.994,58.832,434.519,51.358,425.298,51.358z M211.551,33.391h88.9v17.967h-88.9V33.391z M372.283,478.609H139.719l-14.522-342.502h261.606L372.283,478.609z M408.602,102.715c-15.17,0-296.114,0-305.202,0V84.749h305.202V102.715z"/>
                                    <path d="M188.835,187.304c-9.22,0-16.696,7.475-16.696,16.696v206.714c0,9.22,7.475,16.696,16.696,16.696c9.22,0,16.696-7.475,16.696-16.696V204C205.53,194.779,198.055,187.304,188.835,187.304z"/>
                                    <path d="M255.998,187.304c-9.22,0-16.696,7.475-16.696,16.696v206.714c0,9.22,7.474,16.696,16.696,16.696c9.22,0,16.696-7.475,16.696-16.696V204C272.693,194.779,265.218,187.304,255.998,187.304z"/>
                                    <path d="M323.161,187.304c-9.22,0-16.696,7.475-16.696,16.696v206.714c0,9.22,7.475,16.696,16.696,16.696s16.696-7.475,16.696-16.696V204C339.857,194.779,332.382,187.304,323.161,187.304z"/>
                            </svg>
                            </div>
                        </div>
                        <div class="image-main">Главная</div>
                        <img :src="image.screen">
                    </div>
                    <div class="row image-info" @click="loadFile()" v-else>
                        <div class="image-text" v-if="image.isMain">{{mainText}}</div>
                        <div class="image-icon" v-else>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve"
                                 width="32px"
                                 height="32px">
	                            <circle cx="256" cy="277.333" r="106.667"/>
                                <path d="M469.333,106.667h-67.656c-8.552,0-16.583-3.333-22.635-9.375l-39-39c-10.073-10.073-23.469-15.625-37.719-15.625h-92.646c-14.25,0-27.646,5.552-37.719,15.625l-39,39c-6.052,6.042-14.083,9.375-22.635,9.375H42.667C19.135,106.667,0,125.802,0,149.333v277.333c0,23.531,19.135,42.667,42.667,42.667h426.667c23.531,0,42.667-19.135,42.667-42.667V149.333C512,125.802,492.865,106.667,469.333,106.667z M256,405.333c-70.583,0-128-57.417-128-128s57.417-128,128-128s128,57.417,128,128S326.583,405.333,256,405.333z M426.667,213.333c-11.76,0-21.333-9.573-21.333-21.333s9.573-21.333,21.333-21.333S448,180.24,448,192S438.427,213.333,426.667,213.333z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </draggable>
            <input type="file" ref="files" multiple @change="uploadedFiles" accept="image/jpeg,image/gif,image/png"
                   style="display: none;">
            <input type="file" ref="oneFile" @change="replacedFiles" accept="image/jpeg,image/gif,image/png"
                   style="display: none;">
            <button @click="check">click</button>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        name: 'App',
        components: {draggable},
        data() {
            return {
                mainText: 'нажмите, чтобы добавить главное фото',
                images: [
                    {file: null, screen: null, isMain: true},
                    {file: null, screen: null, isMain: false},
                    {file: null, screen: null, isMain: false},
                    {file: null, screen: null, isMain: false},
                    {file: null, screen: null, isMain: false},
                    {file: null, screen: null, isMain: false},
                    {file: null, screen: null, isMain: false},
                    {file: null, screen: null, isMain: false},
                ],
                files: [],
                replacedIndex: null
            }
        },
        computed: {
            lng() {
                return this.files.length
            }
        },
        methods: {
            loadFile() {
                this.$refs.files.click();
            },
            uploadedFiles() {
                let files = this.$refs.files.files;
                let lng = this.files.length;
                files.forEach((file, idx) => {
                    let reader = new FileReader();
                    this.files.push(file);
                    if (this.images[idx].file) {
                        this.images[idx + lng].file = file;
                        reader.onload = e => this.images[idx + lng].screen = e.target.result;
                    } else {
                        this.images[idx].file = file;
                        reader.onload = e => this.images[idx].screen = e.target.result;
                    }
                    reader.readAsDataURL(file);
                });

                this.$refs.files.value = null;
            },
            removeFile(idx) {
                this.images.splice(idx, 1);
                this.files.splice(idx, 1);
                this.images.push({file: null, screen: null, isMain: false})
            },
            replacedFiles() {
                let file = this.$refs.oneFile.files[0];
                let reader = new FileReader();
                this.images[this.replacedIndex].file = file;
                reader.onload = e => this.images[this.replacedIndex].screen = e.target.result;
                reader.readAsDataURL(file);
                this.$refs.oneFile.value = null;
            },
            replaceFile(idx) {
                this.replacedIndex = idx;
                this.$refs.oneFile.click();
            },
            check() {
                console.log(this.images);
            }
        },
        watch: {
            images(val) {
                for (let i = 0; i < this.images.length; i++) {
                    this.images[i].isMain = false;
                    this.images[0].isMain = true;
                }
            }
        }
    }
</script>

<style lang="less">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .app-row {
        flex-wrap: wrap;
    }

    .image-box {
        justify-content: center;
        width: 160px;
        height: 120px;
        flex-shrink: 0;
        margin: 10px;
        border: 1px solid black;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        &:first-child {
            .image-screen {
                .image-main {
                    display: block;
                }
            }
        }
    }

    .image-info {
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .image-screen {
        max-width: 100%;
        max-height: 100%;

        &:hover {
            .image-overlay {
                display: flex;
            }
        }
    }

    .image-main {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #000;
        color: #FFF
    }

    .image-overlay {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        z-index: 2;

        svg {
            fill: #FFF;
        }

        & > * {
            margin: 0 5px;
        }
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
</style>
